.data-table
  background: white
  margin: 0
  border-spacing: 0
  border-collapse: collapse
  width: 100%

.data-table__header
  background: #e6e6e6

.data-table__header, 
.data-table__body
  width: 100%
  td
    border: 1px solid #b7b7b7
    padding: 5px 10px
    
